# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np
import itertools

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", sep='\t')

### Step 4. See the first 10 entries

In [3]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [4]:
# Solution 1
len(chipo)

4622

In [5]:
# Solution 2

### Step 6. What is the number of columns in the dataset?

In [6]:
len(chipo.columns)

5

### Step 7. Print the name of all the columns.

In [7]:
print(chipo.columns)

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

### Step 9. Which was the most-ordered item?

In [8]:
most_ordered = chipo.groupby(['item_name'])[["quantity"]].sum().sort_values(by="quantity", ascending=False)
most_ordered = most_ordered.iloc[0,:]
most_ordered

quantity    761
Name: Chicken Bowl, dtype: int64

### Step 10. For the most-ordered item, how many items were ordered?

In [9]:
761

761

### Step 11. What was the most ordered item in the choice_description column?

In [10]:
# Here I assume that we want to split all items and count them separately. 
# E.g. "[rice, brown beans]" in a burrito --> "rice" and "brown beans" are
# recorded as two separate items

most_ordered_item_choice_des = []

# Combine all rows into a single list
for choice in chipo["choice_description"]:
    most_ordered_item_choice_des.append(choice)


# remove square brackets, split into separate items if ","    
list_clean = []
for item in most_ordered_item_choice_des:
    if isinstance(item, float):    
        pass
    else:
        list_clean.append(item.replace("[", "").replace("]","").split(","))

In [11]:
# combine into a single list
merged_clean_list = list(itertools.chain.from_iterable(list_clean))

In [12]:
# make into a pd object, rename, strip white spaces
merged_clean_list = pd.DataFrame(merged_clean_list).rename(columns={0: "ingredients"})
merged_clean_list = pd.DataFrame(merged_clean_list["ingredients"].str.strip()).rename(columns={0: "ingredients"})

# count ingredients by frequency/popularity, show
ingredient_count = merged_clean_list.groupby(['ingredients'])[["ingredients"]].count().rename(columns={'ingredients': 'count'}).sort_values(by="count", ascending=False)
ingredient_count.head()

             count
ingredients
Rice          2389
Cheese        2281
Lettuce       1742
Sour Cream    1711
Black Beans   1342

### Step 12. How many items were ordered in total?

In [13]:
total_items_ordered = chipo['quantity'].sum()
total_items_ordered

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [14]:
type(chipo["item_price"])

pandas.core.series.Series

#### Step 13.b. Create a lambda function and change the type of item price

In [15]:
chipo['item_price'] = chipo['item_price'].str.replace('$', '').astype(float)

/tmp/ipykernel_31238/415931653.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  chipo['item_price'] = chipo['item_price'].str.replace('$', '').astype(float)

In [16]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

#### Step 13.c. Check the item price type

In [17]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 180.7+ KB

### Step 14. How much was the revenue for the period in the dataset?

In [23]:
chipo_revenue = chipo["quantity"] * chipo["item_price"]
print(sum(chipo_revenue))
print(len(chipo_revenue))

39237.020000000055
4622

### Step 15. How many orders were made in the period?

In [25]:
orders_made = chipo["order_id"].nunique()
orders_made

1834

### Step 16. What is the average revenue amount per order?

In [26]:
# Solution 1

ave_order_value = sum(chipo_revenue) / orders_made
ave_order_value

21.3942311886587

In [19]:
# Solution 2

### Step 17. How many different items are sold?

In [27]:
unique_items = chipo["item_name"].nunique()
unique_items

50